.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination li {
    display: inline;
    padding: 0 3px;
    background: #F2F9FD;
    margin-left: 2px;
    border-radius: 4px;
  }
.active {
  background-color: #687085;
  color: rgb(98, 0, 255);
}

.previous-link,
.next-link {
  border: 1px solid #e2e8f0;
  background-color: white;
  color: #687085;
  padding: 0.5rem;
  cursor: pointer;
}



.Completed{
  color:#00b370;
  border:1px solid;
  text-align:center;
  width:90%;
  border-radius:20px;
  padding:5px 0px
}

.Active{
  color:#2b5fd0;
  border:1px solid;
  text-align:center;
  width:90%;
  border-radius:20px;
  padding:5px 0px
}

.Under-Review{
  color:#F79009;
  border:1px solid;
  text-align:center;
  width:fit-content;
  border-radius:20px;
  font-size:10px;
  padding:6px 6px
}